body {
	 background-color: #444444;
	 color: #eeeeee;
}

.text-center {
	text-align: center;
}

.jumbotron {
	background-color: #337695;
	border-radius: 0 !important;
}

.navbar {
	background-color: #eeeeee;
}

.carrois-font {
	font-family: 'Carrois Gothic SC';
}

.bungee-font {
	font-family: 'Bungee';
}

.oswald-font {
	font-family: 'Oswald';
}
