html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	 background-color: #444444;
	 color: #eeeeee;
}

#wrapper {
	min-height:100%;
	position:relative;
}

.text-center {
	text-align: center;
}

.carrois-font {
	font-family: 'Carrois Gothic SC';
}

.bungee-font {
	font-family: 'Bungee';
}

.oswald-font {
	font-family: 'Oswald';
}

.jumbotron {
	background-color: #337695;
	border-radius: 0 !important;
}

.jumbotron h1 {
	font-size: 6em;
}

.navbar {
	background-color: #eeeeee;
	border-radius: 0 !important;
}

.nav li a {
	color: #444444 !important;
}

.nav li a:hover {
	color: #337695 !important;
}

.navbar-brand {
	color: #337695 !important;
}

.panel {
	border-radius: 0 !important;
}

.panel-body {
	background-color: #337695;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

.panel-body div {
	width: 50%;
	font-size: 1.5em;
}

.panel-heading {
	background-color: #eeeeee !important;
}

.panel-heading h3 {
	font-size: 2.5em;
	background-color: #337695;
	color: #444444;
	box-shadow: 10px 10px 10px #444444;
	transition: box-shadow 0.5s;
	border-color: #337695;
	border-radius: 0 !important;
}

.panel-heading h3:hover {
	/*background-color: #444444;
	color: #eeeeee;*/
	box-shadow: none;
}

.top-panel {
	font-size: 2em;
	border-color: #337695;
}

/*a:link {
    text-decoration: none;
}*/

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*a:active {
    text-decoration: none;
}
*/

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #eeeeee;
	color: #337695;
}

#footer-text {
	margin-top: 0;
	margin-bottom: 0;
}

.counters {
	font-size: 2.5em;
}

.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
