
<div class="panel panel-default">
	<div class="panel-heading text-center"><a href="{{company.companyUrl}}" target='_blank' class="hvr-sink"><h3 class="well">{{company.companyName}}</h3></a></div>
	<div class="panel-body text-center flexcontainer">
		<div>Location: {{company.location}}</div>
		<div>Founded In: {{company.foundedYear}}</div>
		<div ng-if="company.opening">Opening: Yes</div>
		<div ng-if="!company.opening">Opening: No</div>
		<div>Number Of Openings: {{company.numberOpenings}}</div>
	</div>
</div>

<div ng-if="company.opening">
	<div class="panel panel-default" ng-repeat="job in company.jobList">
	  <div class="text-center job"><a href="{{company.careerUrl}}" target='_blank' class="hvr-sink">{{job}}</a></div>
	</div>
</div>


<div ng-if="!company.opening">
	<div class="panel panel-default">
	  <div class="text-center job">No current openings!</div>
	</div>
</div>

<div id="share"></div>

<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-arrow-up fa-2x"></i></a>

<script>
		if ($('#back-to-top').length) {
      	var scrollTrigger = 100, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
      	backToTop();
      	$(window).on('scroll', function () {
          	backToTop();
      	});
      	$('#back-to-top').on('click', function (e) {
          	e.preventDefault();
          	$('html,body').animate({
              	scrollTop: 0
          	}, 1000);
      	});
  	}

    $("#share").jsSocials({
      showLabel: false,
    	showCount: false,
    	shareIn: "popup",
    	text: "Check out these awesome openings!",
      shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "whatsapp"]
    });
</script>