
<div class="panel panel-default top-panel text-center bungee-font">
  <div class="panel-body">Jobs</div>
</div>

<!-- Show results -->
<div class="jobs-row" ng-repeat="job in jobs.jobsList">
  <div class="jobs-col"> 
    <div class="text-center">
      <a href="{{job.career_url}}" target='_blank' class="hvr-sink"> 
        <h4>{{job.job_name}}</h4> 
      </a> 
    </div>
    <div class="text-center"> 
      <div>Company: {{job.company_name}}</div>
    </div>
  </div>  
</div>

<!-- Search buton and search box -->
<search-box-directive obj="jobs"></search-box-directive>

<!-- Take to top of page button -->
<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-arrow-up fa-2x"></i></a>

<!-- Get next ten results -->
<div ng-click="jobs.getNext()" class="nextButton">See More</div>

<script type="text/javascript">	
  	if ($('#back-to-top').length) {
      	var scrollTrigger = 100, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
      	backToTop();
      	$(window).on('scroll', function () {
          	backToTop();
      	});
      	$('#back-to-top').on('click', function (e) {
          	e.preventDefault();
          	$('html,body').animate({
              	scrollTop: 0
          	}, 1000);
      	});
  	}
</script>