
<div class="panel panel-default top-panel text-center bungee-font">
  <div class="panel-body">Jobs</div>
</div>

<div class="panel panel-default jobs" ng-repeat="job in jobs.jobsList">
	<div class="panel-heading text-center"><a href="{{job.career_url}}" target='_blank' class="hvr-sink"><h3 class="well">{{job.job_name}}</h3></a></div>
	<div class="panel-body text-center flexcontainer">
		<div>Company: {{job.company_name}}</div>
	</div>
</div>

<div ng-click="jobs.getNext()" class="nextButton">See More</div>