<span class="searchButton"><i class="fa fa-search fa-2x"></i></span><input ng-change="dirCtrl.obj.search()" ng-model="dirCtrl.obj.searchTerm" ng-keydown="dirCtrl.obj.deleteTerm($event)" type="text" id="search-box" style="width: 0px; visibility:hidden;"/>

<script type="text/javascript">
	var toggleVar = true;
  	$('.searchButton').on('click', function() {
  		if(toggleVar) {
  			$('.searchButton').animate({right: '210px'}, 400);
  			$('#search-box').css("visibility", "visible");
  			setTimeout(function() {
		  		$('.searchButton').css("color", "#333333");
		  	}, 200);
	  		$('#search-box').animate({ width: 185 }, 400).focus();
	  		toggleVar = false;
  		}
  		else {
  			$('#search-box').animate({ width: 0 }, 400);
	  		$('.searchButton').animate({right: '25px'}, 400);
	  		setTimeout(function() {
		  		$('.searchButton').css("color", "#35c2c3");
		  	}, 300);
	  		toggleVar = true;
  		}
  	});

  	$('#search-box').focusout(function() {
  		if(!toggleVar) {
  			$('#search-box').animate({ width: 0 }, 400);
		  	$('.searchButton').animate({right: '25px'}, 400);
		  	setTimeout(function() {
		  		$('.searchButton').css("color", "#35c2c3");
		  	}, 300);
		  	toggleVar = true;
  		}
  	});
</script>